body {
  font-family: Vazir !important;
  /* direction: rtl; */
  text-align: right;
  background-color: #ffffff;
}

.text-orange {
  color: #f15025;
}

.header-food,
.default-food {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("./images/introBack.jpeg") center/cover no-repeat;
}

.default-food {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 68, 14, 0.377), rgba(155, 226, 149, 0.2)),
    url("./images/Not-found.jpg") center/cover no-repeat;
}

.font-logo {
  font-family: DimaSogand;
}

main {
  background-color: #ffffff !important;
}

.theme-dark {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
